.d-block{
	width: 80%;
	height: 450px;
	margin-left: 10%;
	color: #ffff;
}
#btn-informacion{
	margin-left: 5%;
}
#btn-informacion, #btn-consulta, #btn-juego{
	width: 30%;
	border-radius: 80px 20px;
}
h1{
	background-color: redñ;
	color: white ;
	margin-top: 4%;
	font-family: Georgia;
}
hr{
	color: #303F9F  ;
}
#principal{
	background-color: #1C2833;
	height: 50%;
}
p{
	font-size: small;
}